@import "./variables/variables";
@import "./elements/elements";
@import "./components/components";
@import "./animations/animations";
@import "./form/form";
@import "./layout/layout";


* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto';
}
body {
	background: #ffffff;
    
}