.sidebar{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    .sidebar-list{
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        gap: 12px;
        margin-left: 26px;
        .list{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
                width: 309px;
                height: 32px;
                background: #F8F8F8;
            border-radius: 6px 50px 50px 6px;
            color: #898A8D;
            align-items: center;
            display: flex;
            cursor: pointer;
            
            & i{
                padding: 0.7rem;
                color: #898A8D;
            }
            &.active{
                background: #E7F8F8;
                color: #0ABAB5;
                & i{
                    color: #0ABAB5;
                }
            }
            }
    }
}



