
$grey-border: #727272;
$grey: #898A8D;
$grey-hover: #b7b7b7;
$grey-explanation: #c8e6c9; 
$light-grey: #e8f5e9; 
$light-grey-nav: #e5e5e5;
$light-blue: #b2cefe; 
$completed-side-nav: #0abab5; 
$green-pill: rgb(0, 173, 0);
$light-grey-menu: #edf2f7;
$dropdown-link: #59a5e4;
$selected-tab: rgba(10, 186, 181, 0.2);
$light-grey-border: #cacaca;
$user-icon:#0ABAB5;
$nav-shadow: rgba(194, 193 , 193,0.2);
$main: #ABADAF;
$main-heading-bg: #F9F9F9;
$border-all: #CCCCCC;
$border-solid:#EEEEEE;
$search-icon:#B6B0B0;
$light-black: #33363b;

$light-color: #ebebeb;
// Color scheme
$primary-blue: #1960ff;
$primary-green: #3EE162;
$primary-light-red: #FF7474;
$primary-yellow: #FFD88D;
$primary-red: red;
$pastel-blue: #cfe2ff;
$pastel-green: #d4edda;
$pastel-red: #f8d7da;
$pastel-yellow: #fff3cd;
$primary-sea-blue: #0abab5;
$primary-selected-blue:#b3eae8;
$primary-selected-yellow: #fff3dc;

$black-color: black;
$dark: rgb(22, 28, 41);

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: #ccc;
// $grey: #f5f5f5;
$grey-light: #f0f0f0;
$grey-lighter: #f5f5f5;
$grey-lightest: hsl(0, 0%, 93%) !default;
$light-grey: #e8f5e9;
$light-grey-border: #eee;
$kp-border: hsl(0, 0%, 45%);
$paginated-border: rgb(138, 122, 122);

$lightest-gray: #f5f5f5;
$lighter-gray: #f1f1f1;
$light-gray: #eee;
$base-gray: #ccc;
$dark-gray: #6f7782;
$darker-gray: #555;
$darkest-gray: #222;

$green: #00cc86;
$green-light: #bafacd;
$green-bright: lighten($green, 12%);
$green-pastel: #d4edda;
$dark-turquoise: #152b26;

$red: #dc3900;
$red-light: #ffe5e3;
$red-bright: lighten($red, 12%);
$red-pastel: #f8d7da;

$dark-blue: #6f7782;

$yellow: #ffd54f;
$yellow-light: #fff59d;
$yellow-pale: #ffd88d;
$yellow-dark: #c8a415;
$yellow-bright: lighten($yellow, 12%);
$yellow-pastel: #fff3cd;

$light-border: #929292;
$grey-font:#939393;
$peach: hsl(44, 100%, 77%);
$active-nav: #E7F8F8;
$active-nav-color:#0ABAB5;
$body-background-color: $grey-light;
$el-bg-color: white;
$white-color: #FFFFFF;
$purple-color: purple;
$lightgrey-color: lightgrey;
$lightgrey-sidenav:#F8F8F8;
$cross-pattern-base: repeating-linear-gradient(
  45deg,
  $grey-lighter,
  $grey-dark 1px,
  $grey-lighter 3px,
  $grey-lighter 5px
);
